# === General ===
HELP.md
target/
build/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# === Environment / Config Files ===
/src/main/resources/application.properties
/src/main/resources/application-dev.properties
/src/main/resources/application-prod.properties

# Use a template for configs (safe to push)
!/src/main/resources/application-template.properties

# === Spring Tool Suite (STS) ===
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# === IntelliJ IDEA ===
.idea/
*.iws
*.iml
*.ipr

# === NetBeans ===
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# === VS Code ===
.vscode/
